[v-cloak] {
    display: none;
}

.sk-rotating-plane {
    width: 4em;
    height: 4em;
    margin: auto;
    background-color: rgba(99,205,245,0.47);
    border-color: rgb(99,138,255);
    animation: sk-rotating-plane 1.2s infinite ease-in-out;
}

@keyframes sk-rotating-plane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
